<h4 style="margin-top: 15px">{{ paciente }}</h4>

<h5>Detalles del Paciente</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="countryInput">Edad</label>
       <input class="u-full-width" id="edad" type="text" value="{{ edad }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="foundedInput">Enfermedad</label>
       <input class="u-full-width" id="enfermedad" type="text" value="{{ enfermedad }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="genereInput">Nacionalidad</label>
       <input class="u-full-width" id="nacionalidad" type="text" value="{{ nacionalidad  }}"  readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="tratamientosInput">Tratamientos</label>
       <input class="u-full-width" id="tratamientos" type="text" value="{{ tratamientos }}"  readonly/>
    </div>
  </div>
</form>

<h5>Doctores</h5>
<ul>
{{#doctores}}
  <li><a href="https://tarea5-doctores-oscarsolanomora.netlify.app/get?id={{doctor_id}}">{{nombre}}</li>
{{/doctores}}
</ul>
