<h4 style="margin-top: 15px">{{ nombre }}</h4>
<h5>Detalle del Doctor</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" type="text" id="_id" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="copyrightInput">Nacionalidad</label>
       <input class="u-full-width" type="text" id="nacionalidad" value="{{ nacionalidad }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="editionInput">Edad</label>
       <input class="u-full-width" type="text" id="edad" value="{{edad }}" readonly/>
    </div>
    <div class="six columns">
       <label for="languageInput">Especialidad</label>
       <input class="u-full-width" type="text" id="especialidad" value="{{ especialidad }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for=" authorInput">Cita</label>
       <a href="https://tarea5-citas-oscarsolanomora.netlify.app/get/?id={{ cita_id }}">
         <input class="u-full-width" type="button" id=" cita" value="{{ cita }}" readonly/>
       </a>
    </div>
    <div class="six columns">
       <label for="languageInput">Paciente</label>
       <a href="https://tarea5-pacientes-oscarsolanomora.netlify.app/get/?id={{ paciente_id }}">
         <input class="u-full-width" type="button" id="paciente" value="{{ paciente }}" readonly/>
       </a>
    </div>
  </div>
</form>
